---
title: About
---

<html>

<nav>
		<div class="nicole">
	  	<a href="index.html"><h1 class="ttl">Nicole Mackin</h1></a>
		</div><!-- .nicole -->
		<ul class="chrome">
			<li><%= link_to "About", "about.html" %></li>
			<li><%= link_to "Portfolio", "portfolio.html" %></li>
			<li><%= link_to "Github", "https://github.com/nicolemackin" %></li>
			<li><%= link_to "LinkedIn", "http://ca.linkedi.com/in/nicolemackin/en" %></li>
			<li><%= link_to "Google+", "https://plus.google.com/u/0/111815590456557022589/" %></li>
		</ul>
</nav>

<div class="main">

		<h2> About Me </h2>
		<p> I'm Nicole and I think in <c>pictures</c>.</p>
		<p> I'm a student at Carleton University, working towards my <c>Bachelors of Information Technology</c> in the <c>Interactive Multimedia Design</c> stream. I spend my spare time drawing, coding, and participating.</p>

	</div>

	</html>
