---
title: Creation Nation
---

<div class="welcome zoom">
  <h1>Nicole Mackin</h1>
  <h4>Artist || Programmer || Dreamer</h4>
  <p class="doc">
 	<%= link_to "About", "about.html" %>
	<%= link_to "Portfolio", "portfolio.html" %>
    <%= link_to "Github", "https://github.com/nicolemackin" %>
	<%= link_to "LinkedIn", "http://ca.linkedin.com/in/nicolemackin/en" %>
	<%= link_to "Google+", "https://plus.google.com/u/0/111815590456557022589/" %>
  </p><!-- .doc -->
</div><!-- .welcome -->