---
title: Creation Nation
layout: base
---

<% content_for :head do %>
  <%= stylesheet_link_tag "front", "all" %>
<% end %>

<div class="welcome zoom">

  <%= partial :logo %>
  <h1>Nicole Mackin</h1>
  <h4>Artist || Programmer || Dreamer</h4>
  <p class="doc">
 	<%= link_to "About", "about.html" %><%= link_to "Portfolio", "https://www.behance.net/NicMackin" %><%= link_to "Github", "https://github.com/nicolemackin" %><%= link_to "LinkedIn", "http://ca.linkedin.com/in/nicolemackin" %><%= link_to "Google+", "https://plus.google.com/u/0/111815590456557022589/" %>
  </p><!-- .doc -->
</div><!-- .welcome -->
